<!-- include footer.html -->
<footer class="footer grey-bg">

  <ul class="footer-links small-text">

    <li>&copy; Meetings2.com 2016</li>

    <li><a href="about.html" class="dark-text">About</a></li>
    <li><a href="terms.html" class="dark-text">Terms</a></li>
    <li><a href="privacy.html" class="dark-text">Privacy</a></li>
    <li><a href="#"><span class="icon-social-facebook transparent-text-dark"></span></a></li>
    <li><a href="#"><span class="icon-social-twitter transparent-text-dark"></span></a></li>

  </ul>

</footer>

<!-- Javascript -->
<script src="js/combined.js"></script>
<!-- end footer.html -->