<!-- include navbar.html -->
<div class="container">

    <div class="navbar-header">

        <!-- Menu icon for small window -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-bar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-grid-2x2"></span>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="index.html">
            Meetings<sup>2</sup>
        </a>

    </div>

    <div class="collapse navbar-collapse" id="navbar-bar-collapse">

        <!-- Left side menu items -->
        <ul class="nav navbar-nav navbar-left main-navigation">
            <li><a href="product.html">Product</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <!-- <li><a href="http://example.com" class="external">External Link Example</a></li> -->
        </ul>

        <!-- Right side menu items -->
        <ul class="nav navbar-nav navbar-right login-register">
            <li><button type="button" class="btn btn-default navbar-btn">Login</button></li>
            <li><button type="button" class="btn btn-primary navbar-btn">Get Started for FREE</button></li>
        </ul>

    </div>
</div>
<!-- end navbar.html -->